@import 'reset';
@import 'base';
@import 'palette';
@import 'components/btn/index.scss';

.row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
